.cvard-list {
    background-color: azure;
    position: relative;
}

.card-wrapper {
    width: 300px;
    background: linear-gradient(90deg, rgba(138,196,242,1) 0%, rgba(18,124,186,1) 100%);
    font-family: sans-serif ;
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;

}


.card-wrapper::before, .card-wrapper::after {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.25;
    content: '';
    position: absolute;
}

.card-wrapper::before {
    top: -3em;
    right: -2em;

}

.card-wrapper::after {
    bottom: -5em;
    right: -1em;

}

.first-row {
    display: flex;
    justify-content: space-around;
}

.big {
    font-weight: 700;
    font-size: 1.8em;
    margin: 10px 0 30px 0;
    
}