* {
    box-sizing: border-box;
}

.conteiner {
    border: 2px solid black;
    /* min-height: 50vh; /*
    /*max-height: 90vh; */


}



.item {
    background-color: cadetblue;
    border: 2px solid red;
    color:white;
    font-size: 2em;
     /*padding: 10px 20px;*/
    text-align: center;
    display: block;
    
}

.flexConteiner {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}
.flex-item {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    flex: ;

}